<p>
  <strong>*Name:</strong>
</p>

<p>
  <strong>Email:</strong>
</p>

<% @contact_schema.fields.each do |field| %>
  <p>
    <strong>
      <% if field.required? %>
        *
      <%end%>
      <%= field.name %>:
    </strong>
  </p>
<% end %>


<%= link_to 'Edit', edit_contact_schema_path(@contact_schema) %>